.container{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.design{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.container__header{
    height: 300px;
    width: 100%;
    background-color: dodgerblue;
}

.container__content{
    height: 250px;
    width: 100%;
    display: flex;
    column-gap: 10px;

}

.container__content__block{
    flex-grow: 1;
    background-color: cornflowerblue;
    font-size: 17px;
}

.container__footer{
    width: 100%;
    height: 500px;
    background-color: dodgerblue;
}