*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.main{
    margin: 0 auto;
    width: 1200px;
}

.wrapper{
    padding: 20px 100px;
}

.wrapper2{
    padding: 20px 60px;
}

.aqua{
    color: #38c6eb;
}

.bcaqua{
    background-color: #38c6eb;
}

.blue{
    color: #102b3e;
}

.bcblue{
    background-color: #102b3e;
}

.silver{
    color: #ccd8e1;
}

.bcsilver{
    background-color: #ccd8e1;
}

.br10{
    border-radius: 10px;
}

.top{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    box-sizing: border-box;
}

.top__element{
    height: 7px;
    width: 50px;
}

.header{
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav{
    height: 10px;
    width: 320px;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.header__nav__element{
    height: 100%;
    flex-grow: 1;
}

.info{
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__description{
    margin: 40px 200px 50px;
    text-align: center;
}

.info__button{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__button a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
}

.info__button a:hover{
    color: #38c6eb;
}

.content{
    width: 100%;
    height: 350px;
    box-sizing: border-box;

}

.content__block{
    border: 3px solid #38c6eb;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__block__title{
    font-weight: 700;
    font-size: 20px;
}

.content__block__element{
    margin: 20px 10px;
    width: 90%;
    height: 65%;
    display: flex;
    justify-content: space-between;

}

.content__block__element__item{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.content__block__element__item__image{
    height: 150px;
    width: 200px;
}

.icons{
    padding: 0 150px;
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons__blocks{
    height: 320px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.icons__blocks__image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.icons__blocks__name{
    font-size: 18px;
}

.icons__blocks__description{
    font-size: 15px;
    text-align: center;
}
.bordeline{
    border: 3px solid #38c6eb;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards__title{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
}

.cards__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.cards__item__element{
    border: 3px solid #38c6eb;
    display: flex;
    flex-direction: column;

}

.cards__item__element__picture{
    width: 300px;
    height: 150px;
    margin: 5px;
}

.cards__item__element__info{
    margin: 5px 8px;
}

.bigfont{
    font-size: 18px;
    font-weight: 700;
}

.cards__item__element__bottom{
    border-top: 3px solid #38c6eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.cards__item__element__bottom__logo{
    height: 30px;
    width: 70px;
}

.cards__item__element__bottom__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
}

.cards__item__element__bottom__nav__element{
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.cards__blank{
    width: 100%;
    margin: 70px 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards__blank__list{
    height: 450px;
    width: 480px;
    padding: 100px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cards__blank__list__bottom {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__blank__list__bottom a{
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
}

.cards__blank__list__bottom a:hover{
    color: white;
}

.footer{
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__logos{
    width: 33.33%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.footer__logos__logo{
    height: 40px;
    width: 40px;
}

.footer__border{
    height: 0;
    width: 50%;
    border: 1px solid #38c6eb;
    margin-top: 20px;
}