.container{
    width: 1000px;
    border: 5px solid darkgrey;
    padding: 5px;
    margin: 0 auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}

.design{
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
}

.container__header{
    height: 200px;
    background-color: silver;
    width: 100%;

}

.container__content{
    height: 400px;
    display: flex;
    column-gap: 5px;
}

.container__content__blockb{
    height: 100%;
    width: 75%;
}

.container__content__blockc{
    height: 100%;
    display: flex;
    flex-grow: 1;

}


